html{
    background-color: blanchedalmond;    
}
h2{
    font-family: 'Comic Sans MS', 'Comic Neue', cursive; 
    font-size: 25px;
    color: rgb(102, 8, 8);
    background: rgb(231, 129, 61); 
    padding: 8px 20px;
    border-radius: 20px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    text-align: center;
}
.container {
    background-color: rgba(236, 173, 115, 0.877);
    width: 900px;
    margin: 0 auto; 
    box-sizing: border-box;
}
.container2 {
    background-color: rgba(252, 198, 117, 0.877);
    border: #810606 dashed 3px;
    width: 900px;
    margin: 0 auto; 
    box-sizing: border-box;
    min-height: 100vh;    
}
header{
    margin: 0;
    height: 200px;
    background-color: rgb(231, 129, 61);

    font-family: 'Pacifico', cursive;
    color: brown;
    font-size: 30px;

    border: 5px dashed;
    border-color: rgb(102, 8, 8);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #ca5217;
}
nav li {
    margin: 0;
    flex: 1;      
    align-items: center;
    justify-content: center;
    text-align: center; 
}
nav a {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center; 
    color: #000000;
    height: 22px;
    border: #7f1f1f dotted 2px;
    box-sizing: border-box;
    text-decoration: none;
}
nav a:hover {
    background: #810606;
    color: wheat;
}
.bottomBar{
    background-color: rgba(252, 198, 117, 0.877);
    border: #810606 dashed 3px;
    width: 900px;
    margin: 0 auto; 
    box-sizing: border-box;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;  
}
.tab-link.active {
  background: #810606;
  color: wheat;
}
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    justify-content: center;
}
.pflex {
  display: flex;
  align-items: flex-start; /* keeps image top-aligned with text */
  gap: 15px;
}
.profile-pic {
  float: left;              
  margin: 0 30px 10px 30px;   
  width: 250px;             
  height: 250px;           
  object-fit: cover;        
  border-radius: 20%;       
  border: 5px double #ffa07a; 
  padding: 6px
}
.para{
    margin: 0 50px 0 50px;
    text-indent: 2em;
}

@media (max-width: 1000px) {

    html{
    background-color: blanchedalmond;    
    }

    .container {
        background-color: rgba(236, 173, 115, 0.877);
        width: 600px;
        margin: 0 auto; 
        box-sizing: border-box;
        }
    .container2 {
        background-color: rgba(252, 198, 117, 0.877);
        border: #810606 dashed 3px;
        width: 600px;
        margin: 0 auto; 
        box-sizing: border-box;
    }


    header{
        margin: 0;
        height: 200px;
        background-color: rgb(231, 129, 61);

        font-family: 'Pacifico', cursive;
        color: brown;
        font-size: 26px;

        border: 5px dashed;
        border-color: rgb(102, 8, 8);
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        background: #ca5217;
    }
    nav li {
        margin: 0;
        flex: 1;      
        align-items: center;
        justify-content: center;
        text-align: center;  
    }
    nav a {
        display: flex;
        color: #000000;
        height: 50px;
        border: #7f1f1f dotted 2px;
        box-sizing: border-box;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        text-align: center; 
    }
    nav a:hover {
        background: #810606;
        color: wheat;
    }

    .tab-content {
        display: none;   /* hide all sections by default */
    }

    .tab-content.active {
        display: block;  /* show only the active one */
    }

    .tab-link.active {
        background: #810606;
        color: wheat;
    }
    .bottomBar{
        background-color: rgba(252, 198, 117, 0.877);
        border: #810606 dashed 3px;
        width: 600px;
        margin: 0 auto; 
        box-sizing: border-box;
    }

    body{
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
        font-size: 12;
        justify-content: center;
    }

}
